* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f7f7f7;
}

header,
main,
footer {
    padding: 0 0.75rem;
}

.section {
    margin-top: 0.75rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3acbc8;
}

/* header */

.header__container-mob {
    display: none;
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
}

.header__container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
    padding: 1rem 3.125rem;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1.688rem;
}

.header__logo-gikit,
.header__logo-minkult {
    max-width: 100%;
    ;
}

.header__lang {
    display: flex;
    gap: 1rem;
}

.header__nav {
    display: flex;
    gap: 3.063rem;
}

.menu-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-out;
    position: absolute;
    z-index: 4;
    background: rgba(255, 255, 255, 0.93);
    display: flex;
    border-radius: 20px;
    transform: translateX(-35%);
    width: 51rem;
    top: 3.5rem;
}

.header__nav-item__content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header__nav-item-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.active {
    background-color: #18777b;
    border-radius: 20px 20px 0 0;
}

.active p {
    color: #ffffff;
}

.header__icon {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header__lang-item {
    font-size: 0.875rem;
    color: #878787;
    font-weight: 700;
}

.header__lang-item_color {
    color: #18777b;
}

.header__nav-item {
    color: #18777b;
    font-size: 1.125rem;
    font-weight: 600;
    position: relative;
    padding: 1rem;
}

.header__info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    background-color: #18777b;
    border-radius: 50px;
    position: relative;
    padding: 0.9rem 6.8rem 0.313rem 1.25rem;
}

.header__info-data {
    display: flex;
    gap: 1rem;
}

.header__info>p,
.header__info-data>p {
    font-size: 0.75rem;
    color: #ddebeb;
    font-weight: 400;
}

.header__info-login {
    display: flex;
    align-items: center;
    gap: 0.813rem;
    background-color: #f7f7f7;
    border-radius: 50px;
    position: absolute;
    z-index: 2;
    padding: 0 1rem;
    height: 102%;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(2px) translateY(-1%);
}

.header__info-login>p {
    color: #18777b;
    font-size: 0.75rem;
    font-weight: 700;
}

/* hero */

.hero-container {
    position: relative;
}

.image-container {
    display: inline-block;
    width: 100%;

}

.img-hidden {
    display: none;
}

.banner-link {
    width: 100%;
}

.banner-image {
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
}

.hero__btn {
    position: absolute;
    z-index: 2;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.625rem;
    justify-content: center;
}

.hero__btn-click {
    background-color: transparent;
    border: 0.063rem solid #FFFFFF;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    cursor: pointer;
}

.btn-active {
    background: #ffffff;
}

/* info */

.info-links__btn-mob {
    display: none;
}

.info {
    display: flex;
    gap: 0.75rem;
}

.info-links {
    background-color: #17777b;
    border-radius: 20px;
    display: flex;
    padding: 3.3rem;
    gap: 5.625rem;
    width: 70%;
}

.info-links_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.info-links_group-wrapper {
    display: flex;
    gap: 7.125rem;
}

.info-links__list {
    display: flex;
    flex-direction: column;
    gap: 2.938rem;
}

.info-links__list_header {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 600;
}

.info-links__btn {
    display: flex;
    background-color: #3acbc7;
    border-radius: 50px;
    justify-content: space-around;
    padding: 1.563rem;
}

.info-links__btn-mob {
    display: none;
    background-color: #3acbc7;
    border-radius: 50px;
    justify-content: space-around;
    padding: 1.563rem;
}

.info-links_color {
    background-color: #3acbc7;
    width: 30%;
}

.info-links__list_gap {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.info-links__list-items {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.info-links__list-item {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
}

/* section-item common styles */

.section-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4.313rem;
    gap: 2.25rem;
}

.section-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.3rem 0.875rem 3.3rem;
}

.section-item__title {
    font-size: 3.5rem;
    font-weight: 500;
    color: #18777b;
}

.see-all {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1rem;
}

.see-all__title {
    font-size: 1rem;

}

.section-item-container {
    display: flex;
    align-items: flex-start;
    gap: 0.813rem;
    overflow-x: scroll;
    padding-bottom: 2.125rem;
}

.section-item-container::-webkit-scrollbar {
    height: 4px;
    background: #FFFFFF;
}

.section-item-container::-webkit-scrollbar-thumb:horizontal {
    background: #97d1cb;
    border-radius: 10px;
}

.card-shadow {
    -webkit-box-shadow: 0px 7px 20px 6px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 7px 20px 6px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 7px 20px 6px rgba(0, 0, 0, 0.03);
}

/* news */

.news-header-wrapper {
    display: flex;
    gap: 2.188rem;
    justify-content: center;
    align-items: center;
}

.news__tags {
    display: flex;
    justify-content: center;
    gap: 0.813rem;

}

.news__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size: 0.75rem;
    padding: 0.5rem 1.25rem;
}

.news__tag-link {
    white-space: nowrap;
}

.news-card {
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    gap: 3.375rem;
}

.news-card__image {
    max-width: 100%;
}

.news-card__image-wrapper {
    position: relative;
}

.news__image-tag-top,
.news__image-tag-bottom {
    position: absolute;
    left: 2.313rem;
    z-index: 2;
}

.news__image-tag-top {
    top: 1rem;
}

.news__image-tag-bottom {
    bottom: 1rem;
}

.news-card__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 3.3rem 3.3rem 3.3rem;
    gap: 1.5rem;
}

.new-card__title,
.events-card__title,
.events-card__text-author {
    font-size: 1rem;
    font-weight: 700;
    color: #17777b;
    line-height: 1.375rem;
}

.news-card:last-child {
    position: relative;
}

.see-all-btn {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    transform: rotate(90deg);
    z-index: 2;
}

/* infographics */

.infographics__container {
    position: relative;
    padding-bottom: 22.875rem;
}

.infographics__container>img {
    max-width: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.infographics-info {
    background-color: #17777b;
    border-radius: 20px;
    background-image: url(./images/bg-flower-image.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 3.875rem 4.8rem;
    gap: 1.5rem;
    position: absolute;
    z-index: 2;
    transform: translateY(-35px);
}

.infographics-info__item {
    display: flex;
    align-items: flex-start;
    width: 23%;
    gap: 1.375rem;
}

.infographics-info__item-header {
    color: #ffffff;
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 2.6rem;
    width: 30%;
    text-align: right;
}

.infographics-info__item-text {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    width: 70%;
}


/* events */

.events-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.25rem;
    max-width: 90%;
}

.events-btn-news {
    padding: 17.9rem 3rem;
    background-color: #17777b;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 700;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex: 0 0 15px;
    min-width: 0;
    white-space: nowrap;
    max-width: 10%;
}

.events-btn-news p {
    transform: rotate(-270deg);
    font-size: 1.3rem;
}

.events-btn {
    padding: 1rem 3rem;
    background-color: #17777b;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 700;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex: 0 0 15px;
    min-width: 0;
    white-space: nowrap;
    max-width: 10%;
}

.events-btn p {
    transform: rotate(-90deg)
}

.events {
    padding-top: 7.75rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 2.125rem;
}


.events-card {
    position: relative;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1.875rem 1.875rem 1.875rem 7rem;
    width: 49%;
    flex-shrink: 0;
    gap: 2.75rem;
}

.events-card__date {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    background-color: #17777b;
    color: #FFFFFF;
    padding: 1.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
}

.event-cards__imgs-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

/* .events-card__img {
    max-width: 100%;
} */

.events-card__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.events-card__text-address {
    font-size: 0.75rem;
    line-height: 1.875rem;
    font-weight: 400;
    z-index: 3;
    width: 60%;
}

/* advts */

.advts-card {
    width: 24.5%;
    flex-shrink: 0;

}

.advts-card__img {
    max-width: 100%;
}

/* videos */

.videos-card {
    width: 50%;
    flex-shrink: 0;
}

.videos-card__video {
    max-width: 100%;
}

/* grant section */

.grant__container {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 4.063rem 0;
}

.grant-info {
    display: flex;
    align-items: center;
    gap: 1.563rem;
    padding-left: 3.25rem;
    width: 50%;
}

.grant-info_img {
    max-width: 100%;
    width: 50%;
}

.grant-info__description {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.grant-info__description-header {
    font-size: 1rem;
    font-weight: 700;
    color: #18777b;
}

.grant-info__description-text {
    font-size: 0.75rem;
    font-weight: 400;
    color: #000000;
    line-height: 1.125rem;
}

/* footer */

.footer__container {
    background-color: #17777b;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.25rem 3.25rem;
}

.footer-block_left {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
}

.footer-description {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
}

.footer-description>p {
    line-height: 1.125rem;
    font-size: 0.75rem;
    font-weight: 400;
    color: #f0f0f0;
}

.footer-socials {
    display: flex;
    gap: 2.5rem;
    background-color: #3acbc7;
    padding: 1.438rem 2.625rem;
    border-radius: 25px;
}

.footer-info-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.8rem;
}

.footer-info-links__item {
    color: #ffffff;
    line-height: 1.125rem;
    font-size: 1rem;
    font-weight: 700;
}

@media (min-width: 1921px) {
    .section {
        width: 70%;
        margin: 0 auto;
    }

    .footer-container {
        justify-content: center;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {

    .events-btn {
        display: none;
    }

    .events-container {
        max-width: 100%;
    }

    .events-card {
        padding: 1.875rem 1.875rem 1.875rem 3rem;
    }

    .events-card__date {
        padding: 1.5rem 1.3rem;
    }
}

@media (max-width: 1280px) {

    .menu-wrapper_mob {
        flex-direction: column;
        width: 20rem;
    }

    .header__nav-item__content {
        padding: 0rem;
        gap: 0rem;
    }

    .menu-wrapper_mob-inst {
        transform: translateX(-11%);
    }

    .menu-wrapper_mob-stud {
        transform: translateX(-69%);
    }

    .header__container-mob {
        display: flex;
        flex-direction: column;
        padding: 1rem 3.125rem;
        gap: 0.7rem;
    }

    .header__row1,
    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header__row2 {
        display: flex;
        flex-direction: row-reverse;
    }

    .header__row1 {
        align-items: center;
    }


    .lang-icon-container {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }

    .header__lang {
        justify-content: flex-end;
    }

    .info-links__list_header {
        font-size: 1.2rem;
    }

    .header__container {
        display: none;
    }

    .header__container-mob {
        display: flex;
        flex-direction: column;
        padding: 1rem 3.125rem;
        gap: 0.7rem;
    }

    .header__row1,
    .header__row2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .lang-icon-container {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }

    .header__lang {
        justify-content: flex-end;
    }

    .info-links__list_header {
        font-size: 1.2rem;
    }

    .info {
        flex-direction: column;
    }

    .info-links {
        width: 100%;
    }

    .info-links {
        gap: 0;
        justify-content: space-between;
    }

    .info-links_group-wrapper {
        gap: 3.3rem;
    }

    .news__tags {
        overflow: scroll;
    }

    .section-item-header {
        overflow-y: scroll;
    }

    .infographics-info {
        padding: 1rem;
    }

    .infographics-info__item {
        width: 30%;
    }

    .infographics-info__item-header {
        font-size: 2rem;
    }

    .see-all_hidden {
        display: none;
    }

    .events-btn {
        display: none;
    }

    .events-card {
        width: 100%;
    }

    .events-container {
        max-width: 100%;
    }

    .grant__container {
        flex-direction: column;
    }

    .grant-info {
        width: 100%;
    }

    .grant-info_img {
        width: 100%;
    }

    .footer__container {
        flex-wrap: wrap;
    }
}

@media (max-width: 790px) {
    main {
        font-size: 0.8rem;
    }

    .header__container-mob {
        padding: 1.2rem;
        gap: 1.2rem
    }

    .header__logo-gikit {
        width: 110px;
    }

    .header__logo-minkult {
        width: 50px;
    }

    .header__icon {
        gap: 1.55rem;
    }

    .header__row2 {
        flex-direction: column;
        gap: 1.2rem;
    }

    .header__info {
        width: 100%;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 0;
    }

    .header__nav-item {
        font-size: 0.8rem;
    }

    .hero__btn-click {
        width: 0.5rem;
        height: 0.5rem;
    }

    .info-links_group-wrapper {
        flex-direction: column;
    }

    .info-links {
        flex-wrap: wrap;
        padding: 1.2rem;
        gap: 2rem;
    }

    .info-links_group-wrapper {
        gap: 2rem;
    }

    .info-links__list {
        gap: 1.5rem;
    }

    .info-links__list-item {
        font-size: 0.8rem;
    }

    .info-links__list_gap {
        gap: 1.2rem;
    }

    .info-links__btn {
        display: none;
    }

    .info-links__btn-mob {
        width: 100%;
        display: flex;
        padding: 1rem;
        gap: 0.7rem;
    }

    .info-links__list-items {
        gap: 0.5rem;
    }

    .infographics {
        height: fit-content;
    }

    .infographics-info {
        height: 40vh;
        overflow-x: scroll;
        justify-content: space-between;
        transform: translateY(-15px);
    }

    .infographics-info__item {
        width: 100%;
        align-items: flex-start;
    }

    .infographics-info__item-header {
        font-size: 2rem;
    }

    .infographics-info__item-text {
        font-size: 0.8rem;
    }

    .infographics__container {
        padding-bottom: 37vh;
    }

    .section-item {
        padding-top: 2rem;
        gap: 0.5rem;
    }

    .events {
        padding-top: 2rem;
        padding-bottom: 0;
    }

    .events-container {
        gap: 0.5rem;
    }

    .see-all {
        gap: 0.35rem;
    }

    .see-all__title {
        font-size: 0.6rem;
        white-space: nowrap;
    }

    .see-all__icon {
        width: 18px;
    }

    .section-item__title {
        font-size: 1.6rem;
        letter-spacing: -1px;
    }

    .section-item-header {
        padding: 0 1.2rem 0.875rem 1.2rem;
    }

    .news-card {
        width: 100%;
        gap: 1.2rem;
    }

    .news-card__text-wrapper {
        padding: 0 1.2rem 1.2rem 1.2rem;
    }

    .news__tag {
        font-size: 0.6rem;
        padding: 0.3rem 1rem;
    }

    .news__image-tag-top,
    .news__image-tag-bottom {
        left: 1.2rem;
    }


    .events-card {
        padding: 1.2rem;
        gap: 1rem;
    }

    .events-card__img {
        max-width: 100%;
        ;
    }

    .events-card__date {
        padding: 0.8rem 0.6rem;
        font-size: 0.6rem;
        font-weight: 700;
        line-height: 0.8rem;
    }

    .events-card__title {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .events-card__text-author {
        font-size: 0.8rem;
    }

    .events-card__text-wrapper,
    .event-cards__imgs-container {
        gap: 1rem;
    }

    .advts-card {
        width: 48.7%;
    }

    .videos-card {
        width: 100%;
    }

    .grant-info {
        gap: 1rem;
        padding-left: 0;
    }

    .grant__container {
        gap: 1.2rem;
        padding-top: 2rem;
    }

    .grant-info {
        flex-direction: column;
    }


    .grant-info__description-header,
    .grant-info__description {
        font-size: 0.8rem;
        gap: 1rem;
    }

    .grant-info_img-icon {
        width: 30%;
    }

    .footer__container {
        padding: 1.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footer-description {
        width: 100%;
        gap: 1rem;
    }

    .footer-socials {
        display: flex;
        gap: 1.5rem;
        background-color: #3acbc7;
        padding: 1rem 1.5rem;
        border-radius: 20px;
    }

    .footer-info-links__item {
        line-height: 1rem;
        font-size: 0.8rem;
        font-weight: 600;
    }

    .footer-info-links {
        align-items: center;
        gap: 0.8rem;
    }

}

@media (max-width: 599px) {}